<launch>
  <arg
    name="model" />
   <param
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find robot_description)/models/aranha_modelo.xacro'" />
   <param
    name="rate"
    value="1000" />
  <rosparam param="source_list">
    [aranha_joint_publisher]
  </rosparam>
  <node
    name="joint_state_publisher"
    pkg="robot_state"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
 </launch>
